@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-one: #DCDCDD;
$color-two: #C5C3C6;
$color-three: #46494C;
$color-four: #4C5C68;
$color-five: #1985A1;

$font-logo: 'Sacramento',
cursive;
$font-header: 'Oswald',
sans-serif;
$font-text: 'Source Sans Pro',
sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-five;
  font-family: $font-text;
  color: $color-one;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  position: relative;
  flex: 2 0 0;
  height: calc(100vh + 288px);
}

.sidebar,
.posts {
  background: $color-four;
  color: $color-one;
  margin-right: 10px;
  padding: 40px;
  border: 5px solid $color-dark;
  border-radius: 0;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }

  a {
    color: $color-two;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  height: 100%;
  overflow: hidden;
  margin-right: 30px;

  &.active {
    opacity: 100%;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

.tags {
  li {
    display: inline-block;
    width: 100%;
  }

  .tag-size-1 {
    font-size: 90%;
  }

  .tag-size-2 {
    font-size: 100%;
  }

  .tag-size-3 {
    font-size: 110%;
  }

  .tag-size-4 {
    font-size: 130%;
  }

  .tag-size-5 {
    font-size: 150%;
  }
}